doctype html
html(lang='en')
  include ./head.pug
  body
    header
      div.headerDash
        h1 
          a(href='/') Job Finder
        #logContainer
        div.logContainer
          h4
            a(href='/profile') Perfil
          h4
            a(href='/favorites') Favoritos 
          h4
            a(href='/') Ofertas aplicadas
            //- Solo visibles par aadministrador
          h4
            a(href='/api/users') Usuarios   
          h4
            a(href='/changepassword') Cambiar contraseña
          h4 
            a(href='/recoverpassword') Recuperar contraseña

          form(action="/api/logout" method="post")
            button.clickBtnlogOut.logoutBtn(type="submit") Salir
    main
      div#mainContainer
        h1#h1Slogan ¡Hola!
        h3#h3Slogan
          | Tenemos nuevas ofertas publicadas, ¿les echas un vistazo?
        div#searchFormContainer
        div#searchContainer
          input.searchInput(id="inputValue" placeholder="Introduce tu busqueda")
          button.clickBtn#searchButton Buscar
          div#cardsContainer
          div(id="spinner" class="loader") Loading...
  script(type='text/javascript', src='https://cdn.jsdelivr.net/npm/sweetalert2@11.4.33/dist/sweetalert2.all.min.js')
  script(type='text/javascript', src='../scripts/dashboardNavigation.js')
include ./footer.pug