doctype html
html(lang='en')
  include ./head.pug
  body
    header
      div.headerDash
        h1 
          a(href='/') Job Finder
        #logContainer
        div.logContainer
          h4
            a(href='/profile') Perfil
          h4
            a(href='/') Ofertas aplicadas
            //- Solo visibles par aadministrador
          h4
            a(href='/api/users') Usuarios
          h4
            a(href='api/dashboard') Tablón
            //----------------------------------
          h4
            a(href='/api/logout') Logout
    main
      div#mainContainer
        h1#h1Slogan FAVORITES
        h3#h3Slogan Estos son tus favoritos
        p=section
        p=offers[0].title

          //- each offer in offers
          //-   p=offer.title

    //- //script(type='text/javascript', src='../scripts/homeNavigation.js')
include ./footer.pug