doctype html
html(lang='en')
  include ./head.pug
  body
    header
      div.headerDash
        h1 
          a(href='/') Job Finder
        #logContainer
        div.logContainer
          h4
            a(href='/profile') Perfil
          h4
            a(href='/') Ofertas aplicadas
          h4
            a(href='/api/users') Usuarios
          h4
            a(href='api/dashboard') Tablón
          form(action="/api/logout" method="post")
            button.clickBtnlogOut.logoutBtn(type="submit") Salir
    main
      div#mainContainer
        h1#h1Slogan FAVORITES
        h3#h3Slogan Estos son tus favoritos
        p=section
        p=offers[0].title

include ./footer.pug