footer.footer
    section.contact
        div.footer-fotos
            img.mail(src="../assets/mail.jpg" alt="Mail")
            img.call(src="../assets/llamar.jpg" alt="Contacta con nosotros")
footer.authGroup
    p Autoría: Javier Espinosa   **    Ramón Moreno     **     Mónica Ortiz    **     Nacho López
