header.overlay
  h1 Job Finder
  h3 Lorem, ipsum dolor sit
  p
    | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero nostrum quis, odio veniam itaque ullam debitis qui magnam consequatur ab. Vero nostrum quis, odio veniam itaque ullam debitis qui magnam consequatur ab.
  br
  button READ MORE