doctype html
html(lang='en')
  include ./head.pug
  body
    header
      div.header
        h1 
          a(href='/') Job Finder
        #logContainer
        div.logContainer
          h4#signUpAccess Registro
          h4#loginAccess Log In
    main
      div#signUpContainer
        div#comeBackButtonContainer
          button.backBtn(id="comeBackButton") Volver
        div#h2SignUpContainer
          h2.classH2#h2SignUp Registro
        div#signUpFormContainer
          form.marcoForm(action="/api/user" method="post" id="signUpForm")
            label Nombre
            input.searchInputRegister(id="signUpName" name="name" type="text" placeholder="John")
            label Apellidos
            input.searchInputRegister(id="signUpSurname" name="surname" type="text" placeholder="Wick")
            label Email 
            input.searchInputRegister(id="signUpEmail" name="email"  type="text" placeholder="John_Wick@terra.es")
            label Contraseña
            input.searchInputRegister(id="signUpPassword" name="password" type="password" placeholder="Omelette123")
            label Repite Contraseña
            input.searchInputRegister(id="repeatPassword" type="password" placeholder="Omelette123")
            input.backBtn(type="submit")
      div#loginContainer
        div#comeBackButtonContainer2
          button.backBtn(id="comeBackButton2") Volver
        div#h3LoginContainer
          h2.classH2#h2Login Login
        div.marcoForm#LoginFormContainer
          form(action="/api/login" method="post" id="loginForm")
            label Email 
            input.searchInputSign(id="loginEmail" name="email" type="text" placeholder="John_Wick@terra.es")
            label Contraseña
            input.searchInputSign(id="loginPassword" name="password" type="password" placeholder="Omelette123")
            input.backBtn(type="submit")

      div#mainContainer
        h1#h1Slogan Tu proyecto, nuestro objetivo
        h3#h3Slogan
          | Con más de 300,000 usuarios, nuestra app ha demostrado por tercer año consecutivo ser la web preferente en búsqueda de proyectos freelance de España
        div#searchFormContainer
        div#searchContainer
          input.searchInput(id="inputValue" placeholder="Introduce tu busqueda")
          input(type="hidden" id="userEmail" value=user)
          button.clickBtn#searchButton Buscar
          div#cardsContainer
          div(id="spinner" class="loader") Loading...
  script(type='text/javascript', src='https://cdn.jsdelivr.net/npm/sweetalert2@11.4.33/dist/sweetalert2.all.min.js')
  script(type='text/javascript', src='/scripts/homeNavigation.js')
include ./footer.pug