doctype html
html(lang='en')
  include ./head.pug
  body
    header
      h1 
        a(href='/') Job Finder
      #logContainer
        h4
          a(href='/profile') profile
        h4
          a(href='/favorites') favorites 
        h4
          a(href='/') Ofertas aplicadas
          //- Solo visibles par aadministrador
        h4
          a(href='/api/users') users(admin)
        h4
          a(href='/dashboard') dashboard(admin)
          //----------------------------------
        h4
          a(href='/api/logout') Logout
    main
      div#mainContainer
        h1#h1Slogan Perfil de #{data[0].email}
        h3#h3Slogan
          | Aqui puedes modificar tu perfil
        form.editUserForm(action="/profile" method="POST")
          div#editUserDiv
            label Name:
            input.editName(type='text' value=data[0].name name='name')
            label Surname:
            input.editSurname(type='text' value=data[0].surname name='surname')
            input(type='hidden' value=data[0].email name='email')
            button.editUser.btnClass(type="submit") Edit profile
    script(type='text/javascript', src='../scripts/homeNavigation.js')
include ./footer.pug