doctype html
html(lang='en')
  include ./head.pug
  body
    header
      h1 
        a(href='/') Job Finder
      #logContainer
        h4#signUpAccess Registro
        h4#loginAccess Log In
    main
        h2 Recuperar contraseña
        form(action="/api/passrecover" method="post")
            label Introduce email
            input(name="email" type="text" Placeholder="John_Wick@terra.es") 
            input(type="submit")
  script(type='text/javascript', src='//cdn.jsdelivr.net/npm/sweetalert2@11')
  script(type='text/javascript', src='sweetalert2.min.js')
  script(type='text/javascript', src='/scripts/homeNavigation.js')
include ./footer.pug