doctype html
html(lang='en')
  include ./head.pug
  body
    header
      h1 
        a(href='/') Job Finder
      #logContainer
        h4
          a(href='/profile') profile
        h4
          a(href='/favorites') favorites 
        h4
          a(href='/') Ofertas aplicadas
          //- Solo visibles par aadministrador
        h4
          a(href='/users') users(admin)
        h4
          a(href='api/dashboard') dashboard(admin)
          //----------------------------------
        h4
          a(href='/api/logout') Logout
    main
      div#mainContainer
        h1#h1Slogan USERS (ADMIN)
        h3#h3Slogan
          | Introduce el mail del usuario a buscar
        div#searchFormContainer
          form#searchForm
          button#createUser(type="submit") Create User
      each user in results
        article
          h4=user.name
          p=user.surname 
          p # #{user.email}
          p=user.role
          button.deleteUser(value="delete" user_email=user.email) Delete
          button#editUser(type="submit") Edit 
          hr
    script(type='text/javascript', src='../scripts/adminNavigation.js')
include ./footer.pug