header{
  background-image: linear-gradient(to right, #ffa200 , #ffea00);
  height: 150px;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.viewHeader{
  background-image: linear-gradient(to right, #ffa200 , #ffea00);
  height: 150px;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}

body {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center; 
}

.header h1 a{
  font-size: xxx-large;
  color: black;
  font-weight: bolder
}

.header div{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}


.headerDash div{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}


.headerDash h1 {
  text-align: center;
}

.headerDash h1 a {
  color: black
}

.logContainer{
  margin-right: 100px;
}

.logContainer h4 a{
  color: black;
  font-size: smaller;
}

.logContainer h4{
  font-size: x-large
}

#loginAccess{
  cursor: pointer;
}

#signUpAccess{
    cursor: pointer;
}


#h1Slogan{
    text-align: center;
    padding: 30px 30px;
    font-size: 30px;
}

#h3Slogan{
  text-align: center;
  padding-right: 30px;
  padding-left: 30px;
  font-size: 26px;
  font-style: italic;
  line-height: 35px;
  font-weight: 500;
}


.searchInput{
  margin: 40px auto;
  width: 300px;
  height: 50px;
  border-radius: 30px;
  text-align: center;
  font-size: 17px;
}

#searchContainer{
  padding-top:30px;
}

#searchFormContainer{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.clickBtn{
  background-image: linear-gradient(to right, #F7971E 0%, #FFD200  51%, #F7971E  100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  display: block;
  border-radius: 40px;
  margin-bottom:150px
}

.clickBtn:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

footer{
  background-color: white;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  align-content: space-around;
  justify-content: space-evenly;
  align-items: center;
  border-top: 1px solid #E3D5CA;
}

.footer-fotos{
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}

.mail, .call{
  width: 50px;
  height: 50px;
  padding: 20px;
}

.mail:hover, .call:hover{
  padding-top:17px;
  padding-bottom: 17px;
  cursor: pointer;
}

.authGroup{
  font-size: 20px;
}

.backBtn{
  background-image: linear-gradient(to right, #F7971E 0%, #FFD200 51%, #F7971E 100%);
  padding: 11px 19px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  display: block;
  border-radius: 40px;
  margin-bottom: 27px
}

.backBtn:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.classH2{
  font-size: 1.9rem;
}


#offerCreate{
  display: flex;
  justify-content: center;
  align-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding: 44px;
}


.labelOffer{

}

#Users{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.marcoForm{
  border-width: 3px;
  border-style: solid;
  -webkit-border-image: 
    -webkit-gradient(linear, 0 0, 0 100%, from(black), to(rgba(0, 0, 0, 0))) 1 100%;
  -webkit-border-image: 
    -webkit-linear-gradient(black, rgba(0, 0, 0, 0)) 1 100%;
  -moz-border-image:
    -moz-linear-gradient(black, rgba(0, 0, 0, 0)) 1 100%;    
  -o-border-image:
    -o-linear-gradient(black, rgba(0, 0, 0, 0)) 1 100%;
  border-image:
    linear-gradient(to bottom, black, rgba(0, 0, 0, 0)) 1 100%;
}

.userCard{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: #EDEDE9;   
    width: 50%;
    margin:40px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;;
}

.userCard h4 {
    font: initial;
    font-size: x-large;
}


#newUserForm{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 20px;

}

#editUserForm{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

#editUserForm input {
    border-radius: 4% / 50%;
    padding: 7px;
    text-align: center;
    margin: 10px;
}

#editUserDiv{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}


.btnClass{
    margin: 20px;
    border-radius: 10% / 50%;;
    padding: 7px;
    background-color: #ffda9e;
}

.btnClass:hover{
    margin: 20px;
    border-radius: 10% / 50%;;
    padding: 7px;
    background-color: rgb(239, 188, 99);

}

#newUserForm input {
  border-radius: 4% / 50%;
  padding: 7px;
  text-align: center;
  margin: 10px;
}

#h2SignUpContainer{
  margin-top: 30px;
  text-align: center;
}

#signUpFormContainer{
  margin-top: 30px;
  margin-bottom: 65px;
  display: flex;
  justify-content: center;
  align-content: center;
}

#signUpForm{
    width: 200px;
    border-style: solid;
    padding: 20px;
    text-align: center
}

#signUpForm input{
  width: 165px;
  margin: 10px;
}

.searchInputRegister{
  height: 20px;
  border-radius: 30px;
  text-align: center;
  font-size: 15px;
}

.searchInputOffer{ 
  height: 20px;
  border-radius: 30px;
  text-align: center;
  font-size: small;
  margin-bottom: 16px;
}

 #signUpFormContainer form label {
  font-size: 20px;
 }

 #signUpForm input .btnSend{
  background-image: linear-gradient(to right, #F7971E 0%, #FFD200 51%, #F7971E 100%);
  padding: 11px 19px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  display: block;
  border-radius: 40px;
  margin-bottom: 27px;
}

#mainContainer{
    display:block;
}

#comeBackButtonContainer{
    margin-top: 50px;
    display: flex;
    justify-content:center;
}

#signUpContainer{
    display: none;
}

#LoginFormContainer{
  padding: 20px;
  margin-bottom: 66px;
  margin-top: 20px;
  width: 200px;
  border-style: solid;
  border-width: 2px;
  border-radius: 15px;
}

#LoginFormContainer form{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: space-between;
  justify-content: center;
  align-items: center;
}

#loginContainer{
  display: none;
  flex-direction: column;
  align-items: center;
}

#LoginFormContainer form label {
  font-size: 20px;
 }


.searchInputSignin {
  height: 21px;
  border-radius: 30px;
  text-align: center;
  font-size: small;
  margin: 10px;
 }


 #loginForm input .btnSend{
  background-image: linear-gradient(to right, #F7971E 0%, #FFD200 51%, #F7971E 100%);
  padding: 11px 19px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  display: block;
  border-radius: 40px;
  margin-bottom: 27px;
}

.offerCardContainer{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
  align-items: center;
}

.offerCard{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 10px 30px;
  margin:40px;
  background-color: #edede9;
}

.offerCard:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


.bot-left {
  position: relative;
}
.bot-left:before, .bot-left:after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: -3px;
  
}
.bot-left:before {
  top: -3px;
  width: 3px;
  background-image: -webkit-gradient(linear, 0 100%, 0 0, from(#000), to(transparent));
  background-image: -webkit-linear-gradient(transparent, #000);
  background-image: -moz-linear-gradient(transparent, #000);
  background-image: -o-linear-gradient(transparent, #000);
}
.bot-left:after {
  right: -3px;
  height: 3px;
  background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#000), to(transparent));
  background-image: -webkit-linear-gradient(left, #000, transparent);
  background-image: -moz-linear-gradient(left, #000, transparent);
  background-image: -o-linear-gradient(left, #000, transparent);
}

.pOffer{
  font-size: larger;
  text-align: justify;
}

.h2Offer{
  color: black;
  font-size: larger;
}


.h3Offer{
 font-size: x-large;
}

.offerOptions{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.offerOptions h4{
  margin:20px;
}

#offerDiv h4 a{
  color: black;
  font-size: larger;
}

#comeBackButtonContainer2{
    margin-top:50px;
}

#h2Login{
    margin-top:50px;
}

.hide{
    display: none;
}

#cardsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#offerCard{
    border-style: solid;
    border-radius: 15px;
    transition:0.2s;
    padding:20px;
    margin: 20px;
    width:400px;
    text-align: center;
}
#offerCard:hover{
   background-color: rgb(155, 195, 221); 
}


#searchContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hide{
    display: none;
}

.loader {
    display: none;
    color: #eeb854;
    font-size: 90px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: 72px auto;
    position: relative;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
    animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  }
  @-webkit-keyframes load6 {
    0% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
  }
  @keyframes load6 {
    0% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
  }
  @-webkit-keyframes round {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes round {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  #urlLink{
    text-decoration: none;
  }